@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

html {
    scroll-behavior: smooth;
}

.Events, .comboNabori {
    padding: 33px 16px 80px;
}

.popUpFrame {
    padding: 6px 16px 16px;
}

.DescriptionItem::after {
    position: absolute;
    bottom: -6px;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #E4E4E4;
}

.bg-E4E4E4 {
    background-color: #E4E4E4;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

@media (max-width: 1069px) {
    .X {
        margin: 10px 0 10px auto;
    }

    .address {
        width: 200px;
    }

    .m-top5 {
        margin-top: 5px;
    }

    .m-top11 {
        margin-top: 11px;
    }

    .m-top14 {
        margin-top: 14px;
    }

    .m-top16 {
        margin-top: 16px;
    }

    .m-top21 {
        margin-top: 21px;
    }

    .m-top27 {
        margin-top: 27px;
    }

    .m-top30 {
        margin-top: 30px;
    }

    .mt14-mb5 {
        margin: 14px 0 5px;
    }

    .m-tb14 {
        margin: 14px 0;
    }

    .m-r16 {
        margin-right: 16px;
    }

    .mt-mb16 {
        margin: 16px 0;
    }

    .mt5-mb10 {
        margin: 5px 0 10px;
    }

    .m-16px {
        margin: 16px;
    }

    .p-tb5 {
        padding: 5px 0;
    }

    .sizes114x77 {
        width: 100%;
        min-width: 114px;
        min-height: 77px;
    }

    .sizes159x78px {
        width: 159px;
        height: 78px;
    }

    .flex-two-col {
        flex: 1 1 50%;
    }

    .max-w-46-4 {
        max-width: 46.4%;
    }

    .E6E6E6 {
        background-color: #E6E6E6;
    }

    .E4E4E4 {
        background-color: #E4E4E4;
    }

    .Ag-p-to-1070 {
        font: normal 700 10px/12px 'Montserrat';
    }

    .Ag-h2-to-1070 {
        font: normal 700 23px/28px 'Montserrat';
    }

    .Ag-h22-to-1070 {
        font: normal 600 18px/22px 'Montserrat';
    }

    .Ag6001417 {
        font: normal 600 14px/16px 'Montserrat';
    }

    .Ag-back-to-1070 {
        font: normal 600 16px/19px 'Montserrat';
    }

    .Ag-text1421-to-1070 {
        font: normal 700 14px/21px 'Montserrat';
    }

    .Ag-green-to-1070 {
        font: normal 700 16px/22px 'Montserrat';
        color: #465500;
    }

    .c-465500 {
        color: #465500;
    }

    .Ag-h3-to-1070 {
        font: normal 600 18px/22px 'Montserrat';
    }

    .Ag-text12-to-1070 {
        font: normal 400 12px/18px 'Montserrat';
    }

    .Ag-text14-to-1070 {
        font: normal 400 14px/21px 'Montserrat';
    }

    .Ag700 {
        font-weight: 700;
    }

    .Ag-text16-to-1070 {
        font: normal 400 16px/20px 'Montserrat';
    }

    .Ag-text18-to-1070 {
        font: normal 400 18px/22px 'Montserrat';
    }

    .fw600 {
        font-weight: 600;
    }

    .line-h {
        line-height: 30px;
    }

    .color7E7E7E {
        color: #7E7E7E;
    }

    .photo86x59px {
        height: 59px;
        width: 86px;
    }

    /*paddings*/
    .p-10 {
        padding: 10px;
    }

    /*paddings*/
    /*mains*/
    .m-t-3px {
        margin-top: -3px;
    }

    .m-t2px {
        margin-top: 2px;
    }

    .m-t6px {
        margin-top: 6px;
    }

    .m-t10px {
        margin-top: 10px;
    }

    .m-t15px {
        margin-top: 15px;
    }

    .m-t20px {
        margin-top: 20px;
    }

    /*mains*/
    /*paddings*/
    .p-l7px {
        padding: 0 0 0 7px;
    }

    .p-b5px {
        padding-bottom: 5px;
    }

    /*paddings*/
    .infoCompText {
        margin: 20px 0 0;
    }

    .overflow-y-scroll {
        overflow-y: auto;
    }

    .afterLine {
        position: relative;
    }

    .afterLine::after {
        content: '';
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0B0B0B;
        position: absolute;
    }

    .swipe {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
    }

    .swipe::-webkit-scrollbar {
        display: none;
    }

    .swipe::-webkit-scrollbar {
        display: none;
    }
}