@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

.Header {
    padding: 0 0 30px;
}

.Events, .comboNabori {
    padding: 33px 16px 80px;
}

.Contacts {
    padding-bottom: 100px;
}

.CardPage {
    padding-bottom: 110px;
}

.popUpFrame {
    padding: 6px 16px 16px;
}

.DescriptionItem::after {
    position: absolute;
    bottom: -6px;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #E4E4E4;
}

.bg-E4E4E4 {
    background-color: #E4E4E4;
}

.bg-465502 {
    background-color: #465502;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.TransColor7s, .MenuContent__a {
    transition-duration: .7s;
    transition-property: color;
}

.X {
    margin: 10px 0 10px auto;
}

.address {
    width: 200px;
}

.m-top5 {
    margin-top: 5px;
}

.m-top11 {
    margin-top: 11px;
}

.m-top14 {
    margin-top: 14px;
}

.m-top16 {
    margin-top: 16px;
}

.m-top21 {
    margin-top: 21px;
}

.m-top27 {
    margin-top: 27px;
}

.m-top30 {
    margin-top: 30px;
}

.mt14-mb5 {
    margin: 14px 0 5px;
}

.m-tb14 {
    margin: 14px 0;
}

.m-r16 {
    margin-right: 16px;
}

.mt-mb16 {
    margin: 16px 0;
}

.mt5-mb10 {
    margin: 5px 0 10px;
}

.m-16px {
    margin: 16px;
}

.p-tb5 {
    padding: 5px 0;
}

.sizes114x77 {
    width: 100%;
    min-width: 114px;
    min-height: 77px;
    max-width: initial;
}

.sizes159x78px {
    width: 159px;
    height: 78px;
    max-width: initial;
}

.flex-two-col {
    flex: 1 1 50%;
}

.max-w-46-4 {
    max-width: 46.4%;
}

.E6E6E6 {
    background-color: #E6E6E6;
}

.E4E4E4 {
    background-color: #E4E4E4;
}

.Ag-p-to-1070 {
    font: normal 700 10px/12px 'Montserrat';
}

.Ag-h2-to-1070 {
    font: normal 700 23px/28px 'Montserrat';
}

.Ag-h22-to-1070 {
    font: normal 600 18px/22px 'Montserrat';
}

.Ag6001417 {
    font: normal 600 14px/16px 'Montserrat';
}

.Ag4001624 {
    font: normal 400 16px/24px 'Montserrat';
}

.Ag6001624 {
    font: normal 600 16px/24px 'Montserrat';
}

.Ag-back-to-1070 {
    font: normal 600 16px/19px 'Montserrat';
}

.Ag-text1421-to-1070 {
    font: normal 700 14px/21px 'Montserrat';
}

.Ag-green-to-1070 {
    font: normal 700 16px/22px 'Montserrat';
    color: #465500;
}

.c-465500 {
    color: #465500;
}

.Ag-h3-to-1070 {
    font: normal 600 18px/22px 'Montserrat';
}

.Ag-text12-to-1070 {
    font: normal 400 12px/18px 'Montserrat';
}

.Ag-text14-to-1070 {
    font: normal 400 14px/21px 'Montserrat';
}

.line-h17px {
    line-height: 17px;
}

.line-h21px {
    line-height: 21px;
}

.fs14px {
    font-size: 14px;
}

.fs17px {
    font-size: 17px;
}

.Ag700 {
    font-weight: 700;
}

.Ag-text16-to-1070 {
    font: normal 400 16px/20px 'Montserrat';
}

.Ag-text18-to-1070 {
    font: normal 400 18px/22px 'Montserrat';
}

.fw400 {
    font-weight: 400;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.sign {
    font-size: 26px;
}

.line-h {
    line-height: 30px;
}

.color7E7E7E {
    color: #7E7E7E;
}

.photo86x59px {
    height: 59px;
    width: 86px;
}

/*paddings*/
.p-10 {
    padding: 10px;
}

/*paddings*/
/*mains*/
.m-t-3px {
    margin-top: -3px;
}

.m-t2px {
    margin-top: 2px;
}

.m-t6px {
    margin-top: 6px;
}

.m-t10px {
    margin-top: 10px;
}

.m-t15px {
    margin-top: 15px;
}

.m-t20px {
    margin-top: 20px;
}

/*mains*/
/*paddings*/
.p-l7px {
    padding: 0 0 0 7px;
}

/*paddings*/
.infoCompText {
    margin: 20px 0 0;
}

.overflow-y-scroll {
    overflow-y: auto;
}

.swipe {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
}

.swipe::-webkit-scrollbar {
    display: none;
}

.swipe::-webkit-scrollbar {
    display: none;
}

/*.swipe */
.afterLine {
    position: relative;
}

.afterLine::after {
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0B0B0B;
    position: absolute;
}

@media (max-width: 1359px) {
    .MobHide {
        display: none;
    }
}

@media (min-width: 1360px) {
    .DescHide {
        display: none;
    }

    .ButtonMain {
        margin: 3.1vh 0 3vh auto;
        height: 7vh;
        background: url("./assets/img/mainpagedesk/perchini.svg") center center no-repeat;
        flex: 2 0 auto;
        background-size: contain;
    }

    .mainPage {
        background: url("./assets/img/mainpage/main.png") center center no-repeat;
        background-size: cover;
    }

    .mainPage .Header {
        padding: 0;
    }

    .mainBack {
        background-image: none;
        height: auto;
    }

    .CommonMenu {
        display: flex;
        height: auto;
        align-items: center;
    }

    .MenuContent__ol {
        background-color: transparent;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        width: auto;
        flex: 1 1 50%;
        align-items: center;
    }

    .MenuContent__li {
        padding: 0 0 0 4.8%;
    }

    .MenuContent__a {
        color: #FFFFFF;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: -0.6px;
    }

    .CenteringOneItem {
        width: 26.8%;
        height: 100%;
        background-color: rgba(245, 244, 244, 0.44);
        flex-wrap: wrap;
        flex-direction: initial;
        margin: 0 auto 0 0;
        padding: 12.4vh 3.2% 0 0;
    }

    .mainPage__icons {
        flex-direction: column;
        flex-wrap: initial;
        width: 100%;
        margin-top: -4%;
    }

    .iconsThemes {
        flex-direction: row;
        justify-content: space-between;
        width: 98.3%;
        margin-right: auto;
        padding: 1.1vh 0;;
        max-width: 260px;
        min-width: 260px;
    }

    .imgIcon {
        width: 3.8vw;
        max-width: initial;
    }

    .descImg {
        height: 100%;
    }

    .desc {
        height: 42px;
        max-width: 135px;
        display: flex;
        text-align: inherit;
        width: 100%;
        align-items: center;
    }

    .mainItem {
        font-size: 25px;
        font-weight: 500;
        text-align: initial;
        line-height: 31px;
    }

    .logCard {
        flex: 1 1 5%;
        height: 58px;
        padding: 0 0.7%;
    }

    .logCard__li {
        padding: 0 12.5% 0 0;
    }

    .logCard__a {
        height: 50px;
        width: 50px;
    }

    .logCard__a-user {
        background: url("./assets/img/mainpagedesk/user.png") center center no-repeat;
    }

    .logCard__a-card {
        background: url("./assets/img/mainpagedesk/card.png") center center no-repeat;
    }

    .logCard__a-number {
        bottom: -1px;
        right: 4px;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 13px;
    }

    .mainPage__icons {
        width: 55%;
    }

    .CarryMenu {
        font-size: 30px;
        font-weight: 500;
        margin: 0 auto 1.4vh -0.2vw;
    }

    .AddressesList {
        margin: -1% -10.8% 0 0;
    }

    .AddressesList__li {
        line-height: 28px;
        font-size: 19px;
    }

    .AddressesList__main {
        line-height: 32px;
        font-size: 17px;
        letter-spacing: 1.2px;
        margin: 0 0 -4px;
    }

    .MainEat__item {
        background-color: #7E7E7E;
        width: 980px;
        margin: 7.5% 7%;
        height: 585px;
    }

    .MainEat__item-1 {
        margin-left: auto;
    }

    .MainEat__item-2 {
        margin-top: -21.3%;
        margin-bottom: auto;
        background-color: #8D8D8D;
    }

    .MainEat__head {
        font-size: 80px;
        font-weight: 600;
        padding: 2.4% 0 0 5%;
        letter-spacing: 4.5px;
    }

    .MainEat__head-2 {
        padding: 13.5% 0 0 2.7%;
    }

    .MainEat__link {
        font-size: 33px;
        font-weight: 700;
        padding: 0 0 0 6%;
    }

    .MainEat__link-2 {
        padding-left: 3%;
    }
}